//- if session.passport
//-   span #{session.passport.user.username}
//-   form(method="POST")
//-     button(type="submit" formaction="/logout") Logout
//-   a(href="/favorites") Favorites
//-   br
//- else if !session.passport
//-   button
//-     a(href="/login") Login
//- a(href="/parks" id="hr") Explore Parks

nav(class="navbar navbar-expand-lg")
  if !session.passport
    a(class="btn btn-primary nav-link button-divide favorite" href="/login") Login
    //- register button
    a(class="btn btn-info nav-link button-space" href="/register") Register
  else if session.passport
    button
      a(href="/notes") View Notes
  
